*{
    margin: 0;
    padding: 0;
}



body{
    background-color: #EEEEEE;
}


.container{
    margin: 50px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    height: 100vh;
}


input{
    border: 2px solid #00ADB5;
}



button{
    width:100px;
    height: 50px;
    background-color: #00ADB5;
    color: #222831;
    border: 2px solid #00ADB5;


}